.contentContainer {
    height: 100%;
    width: 100%;
}

.contentContainer main {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contentWrapper {
    display: flex;
    height: 40rem;
    width: 60rem;
    border-radius: 12px;
    border: 1px, solid, var(--secondary-color, #E6E6E6);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.contentWrapper form {
    display: flex;
    flex-direction: column;
    width: 47%;
    padding: 12px 24px;
}

.companyTitle a {
    font-family: Newsreader, sans-serif;
    font-weight: 500;
    letter-spacing: -0.5px;
    text-decoration: none;
    font-size: 26px;
    color: var(--main-text-color-green, #426B1F);
}

.authContentWrapper {
    color: var(--third-color, #6D6D6D);
    margin-top: 20px;
    margin-right: 24px;
    margin-left: 24px;
}

.authContentWrapper a {
    color: var(--main-text-color-green, #426B1F);
    transition: 0.2s;
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: 0.15s;
}

.authContentWrapper a:hover {
    opacity: 0.9;
    transition: 0.15s;
}

.authContentWrapper a:active {
    opacity: 0.7;
    transition: 0.15s;
}

.formTitle {
    display: flex;
    flex-direction: column;
}

.formTitle a {
    margin-left: 6px;
}

.formTitle h1 {
    color: var(--main-text-color-black, #000000);
    margin: 0 0 12px 0;
}

.formTitle span {
    margin-bottom: 14px;
    color: var(--third-color, #6D6D6D);
}

.formTitle span b {
    font-size: 30px;
}

.inputsWrapper div {
    margin-bottom: 6px;
    transition: 0.15s;
}

.inputsWrapper > div {
    margin-bottom: 18px;
}

.inputsWrapper input {
    width: 100%;
    height: 2.4rem;
    border: var(--main-input-border);
    border-radius: 8px;
    padding: 12px;
}

.inputsWrapper input:focus {
    border-color: #426B1F;
    transition: 0.15s;
}

.inputsWrapper > div > span {
    margin-bottom: 6px;
}

.contentWrapper form button{
    width: 100%;
    margin-bottom: 18px;
}

.authOptionsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 18px;
}

.breakLineWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 18px;
}

.breakLineWrapper hr {
    width: 50%;
    border: 0;
    height: 1px;
    background: var(--third-color, #6D6D6D);
    margin: 0;
}

.breakLineWrapper span {
    margin: 0 12px;
    font-weight: 500;
    font-size: 0.8rem;
}

.otherAuthMethods button {
    font-weight: 500;
    background-color: transparent;
    color: var(--third-color, #6D6D6D);
    border-radius: 24px;
    border: 1px solid var(--third-color, #6D6D6D);
}


.previewContentContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 53%;
    background-color: var(--primary-color, #426B1F);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px 0;
}

.previewImgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55%;
    position: relative;
}

.previewImgWrapper > img {
    object-fit: fill;
    width: 435px;
    height: 300px;
    position: absolute;
    cursor: pointer;
    margin-top: 20px;
}

.previewTitleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 45%;
}

.previewTitleWrapper h1 {
    font-size: 2.3rem;
    margin-bottom: 8px;
    color: var(--main-text-color-white, #ffffff);
    text-align: center;
    padding: 0 20px;
}

.previewTitleWrapper span {  
    font-size: 1.2rem;
    align-self: center; 
    color: var(--main-text-color-white-darker, #CFD9E0);
    text-align: center;
    padding: 0 40px;
}

.newsPaginationWrapper {
    align-self: center;
    color: var(--main-text-color-white-darker, #CFD9E0);
}

.newsPaginationWrapper > span {
    cursor: pointer;
    padding: 2px;
    margin: 0 4px;
}

.newsPaginationWrapper > li {
    font-size: 10px;
    padding: 2px;
    margin: 0 4px;
    cursor: pointer;
}
