.mainContainer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.contentWrapper {
    display: flex;
    font-size: 1.6rem;
    height: fit-content;
    width: 980px;
    border-radius: 12px;
    border: 1px, solid, var(--secondary-color, #E6E6E6);
    box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.075);
}

.formWrapper {
    width: 48%;
    padding: 12px 24px;
}

.newsPreviewWrapper {
    width: 52%;
    background-color: var(--primary-color, #12160e);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    padding: 24px;
}

@media (min-width: 0px) and (max-width: 800px) {
    .contentWrapper {
        width: 70%;
        justify-content: center;
    }

    .formWrapper {
        width: 100%;
        align-self: center;
    }

    .newsPreviewWrapper {
        display: none;
    }
}

@media (min-width: 0px) and (max-width: 560px) {
    .contentWrapper {
        width: 90%;
    }

    .formWrapper {
        width: 100%;
    }
}

@media (min-width: 0px) and (max-width: 440px) {
    .formWrapper {
        font-size: 1.4rem;
    }
}