.productWrapper {
    width: 266px;
    height: 296px;
    background-color: #FAFAF5;
    border: 2px solid #E6E6E6;
    border-radius: 16px;
    cursor: pointer;
}

.imageWrapper {
    display: flex;
    padding-bottom: 12px;
}

.imageWrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    object-fit: fill;
}

.titleWrapper {
    padding-left: 14px;
}

.titleWrapper .productName {
    display: block;
    font-weight: 650;
}

.titleWrapper .productPrice {
    display: block;
    color: #426B1F;
    font-weight: 650;
}

.titleWrapper .productPlace {
    display: block;
    font-size: 12px;
    color: #6D6D6D;
    margin: 8px 0;
}