.productSearchContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    max-width: 1000px;
}

.searchIconWrapper {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    z-index: 90;
}

.searchIcon {
    width: 20px;
    height: 20px;
}

.productSearchBar {
    height: 40px;
    width: 460px;
    
    border: 1.5px solid var(--secondary-color, #E6E6E6);
    border-radius: 10px;

    display: flex;
    font-family: inter;
    font-size: 14px;
    font-weight: 450;
    padding: 6px;
    padding-left: 38px;
    transition: 0.25s;
    background-color: transparent;
    z-index: 90;
}

.productSearchBar:hover, .productSearchBar:focus {
    border: var(--hover-focus-outline);
    transition: 0.25s;
}