.productSearchWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    min-width: 100px;
}

.productSearchBar {
    font-family: inter;
    font-size: 14px;
    font-weight: 450;
    width: 400px;
    height: 36px;
    border: 1.5px solid #E6E6E6;
    border-radius: 10px;
    padding: 12px;
    transition: 0.25s;
}

.productSearchBar:hover, .productSearchBar:focus {
    border: 1.5px solid #436b1feb;
    transition: 0.25s;
}

.searchIcon {
    padding-right: 4px;
    width: 14px;
    height: 100%;
    align-self: center;
}


@media (max-width: 1086px) {
    .productSearchWrapper .productSearchBar {
        width: 340px;
     }
   }

@media (max-width: 1050px) {
    .productSearchWrapper .productSearchBar {
        width: 440px;
    }
}

@media (max-width: 1000px) {
    .productSearchWrapper .productSearchBar {
        width: 380px;
    }
}