.productSearchWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;

}

.productSearchWrapper .productSearchBar {
    font-family: inter;
    font-size: 14px;
    font-weight: 450;
    width: 400px;
    height: 36px;
    border: 1.5px solid #E6E6E6;
    border-radius: 10px;
    padding: 12px;
}

@media (max-width: 1300px) {
    .productSearchWrapper .productSearchBar {
        width: 420px;
     }
   }

@media (max-width: 1140px) {
    .productSearchWrapper .productSearchBar {
        width: 220px;
     }
   }

   @media (max-width: 940px) {
    .productSearchWrapper .productSearchBar {
        width: 220px;
     }
   }

@media (max-width: 800px) {
    .productSearchWrapper .productSearchBar {
        width: 100px;
     }
   }