.ActionButton {
    font-family: Inter;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    background-color: #426B1F;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 7px 16px;
    white-space: nowrap;
    transition: 0.15s;
}

.ActionButton:hover {
    background-color: #436b1feb;
    transition: 0.15s;
}

.ActionButton:active {
    opacity: 0.8;
    transition: 0.15s;
}
