.ActionButton, .ActionButton_darker {
    font-family: Inter;
    font-size: 18px;
    font-weight: 300;
    color: var(--secondary-color-lighter, #FFF);
    background-color: var(--main-color, #426B1F);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 7px 16px;
    white-space: nowrap;
    transition: 0.15s;
}

.ActionButton_darker {
    color: var(--secondary-color-lighter, #FFF);
    background-color: var(--secondary-color-darker, #d7d7d7);
}

.ActionButton:hover {
    opacity: 0.9;
    transition: 0.15s;
}

.ActionButton_darker:hover {
    opacity: 0.9;
    transition: 0.15s;
}

.ActionButton:active, .ActionButton_darker:active {
    opacity: 0.78;
    transition: 0.15s;
}
