.ActionButton, .ActionButton_darker, .inactiveActionButton {
    font-family: Inter, sans-serif;;
    font-size: 18px;
    font-weight: 300;
    color: var(--secondary-color-lighter, #ffffff);
    background-color: var(--primary-color, #426B1F);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 7px 16px;
    white-space: nowrap;
    transition: 0.15s;
}

.ActionButton_darker {
    color: var(--main-text-color-black, #000000);
    background-color: var(--secondary-color, #E6E6E6);
}

.inactiveActionButton {
    color: var(--secondary-color-lighter, #ffffff);
    background-color: var(--warning-color, #fa9a14);
    border-radius: 0px;
}

.ActionButton:hover {
    opacity: 0.9;
    transition: 0.15s;
}

.ActionButton_darker:hover {
    filter: brightness(90%);
    transition: 0.15s;
}

.ActionButton:active, .ActionButton_darker:active {
    opacity: 0.78;
    transition: 0.15s;
}
