.productWrapper {
    display: block;
    max-width: 219px;
    height: 236px;
    max-height: 236px;
    background-color: var(--background-color, #FAFAF5);
    border: 2px solid var(--secondary-color, #E6E6E6);
    border-radius: 16px;
    cursor: pointer;
    transition: transform 0.25s ease;
}

.productWrapper:hover {
    transform: scale(1.05);
    transition: 0.25s;
}

.imageWrapper {
    display: flex;
    width: 100%;
    height: 50%;
}

.imageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    padding: 12px;
}

.infoWrapper .productName {
    display: block;
    font-size: 1.6rem;
    font-weight: 650;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.infoWrapper .productPrice {
    display: block;
    font-size: 1.5rem;
    font-weight: 650;
    color: var(--main-text-color-green, #426B1F);
    margin-top: 2px;
}

.infoWrapper .productBottomContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productBottomContainer .productDescription {
    display: block;
    font-size: 1.2rem;
    color: #6D6D6D;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 10px;
    transition: all 0.5s ease;
}

.productButtonsWrapper {
    display: flex;
    width: auto;
    flex-direction: row;
    align-items: center;
}

.productButtonsWrapper button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 34px;
    height: 34px;
}

.productButtonsWrapper > span {
    font-size: 1.4rem;
    text-align: center;
    width: 24px;
}

@media (min-width: 0px) and (max-width: 375px) {
    .infoWrapper {
        padding: 10px;
    }

    .infoWrapper .productName {
        font-size: 1.6rem;
    }

    .infoWrapper .productPrice {
        font-size: 1.4rem;
    }
}