.SimpleButton {
    font-family: Inter;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    background-color: #426B1F;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 7px 16px;
    transition: 0.15s;
}

.SimpleButton:hover {
    transition: 0.1s;
    background-color: #436b1feb;
}

.SimpleButton:active {
    opacity: 0.9;
    transition: 0.15s;
}
