.sortOptionWrapper button {
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    height: 36px;
    width: 70px;
    border: 1px solid var( --secondary-color, #E6E6E6);
    border-radius: 24px;
    cursor: pointer;
    white-space: nowrap;
    transition: opacity 0.15s;
}

.sortOptionWrapper button:active {
    opacity: 0.8;
    transition: opacity 0.1s;
}

.sortOptionWrapper + .sortOptionWrapper {
    margin-left: 12px;
}

.sortButton {
    color: var(--main-text-color-black, #000000);
    background-color: var(--secondary-color-lighter, #ffffff)
}

.sortButton:hover {
    filter: brightness(97%);
    transition: filter 0.15s;
}

.activeSortButton {
    color: var(--main-text-color-white, #ffffff);
    background-color: var(--primary-color, #426B1F);
    border: 1px solid var(--primary-color, #426B1F);
}

.activeSortButton:hover {
    opacity: 0.9;
    transition: opacity 0.15s;
}