button {
    font-family: Inter;
    font-size: 18px;
    font-weight: 300;
    border: 1px solid #C2C2C2;
    border-radius: 8px;
    cursor: pointer;
    padding: 7px 16px;
    transition: 0.15s;
    white-space: nowrap;
}

button:active {
    opacity: 0.6;
    transition: 0.15s;
}

.SortButton {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #C2C2C2;
}

.SortButton:hover {
    transition: 0.1s;
    background-color: #c2c2c227;
}

.ActiveSortButton {
    color: #ffff;
    background-color: #426B1F;
    border: 1px solid #426B1F;
    border-radius: 8px;
}

.ActiveSortButton:hover {
    transition: 0.1s;
    background-color: #436b1feb;
}