button {
    font-family: Inter;
    font-size: 18px;
    font-weight: 300;
    border: 1px solid var( --secondary-color, #E6E6E6);
    border-radius: 8px;
    cursor: pointer;
    padding: 7px 16px;
    white-space: nowrap;
    transition: 0.15s;
}

button:active {
    opacity: 0.8;
    transition: 0.1s;
}

.SortButton {
    color: var(--main-text-color-black, #000000);
    background-color: var(--secondary-color-lighter, #ffffff)
}

.SortButton:hover {
    transition: 0.15s;
    filter: brightness(97%);
}

.ActiveSortButton {
    color: var(--main-text-color-white, #ffffff);
    background-color: var(--primary-color, #426B1F);
    border: 1px solid var(--primary-color, #426B1F);
    border-radius: 8px;
}

.ActiveSortButton:hover {
    transition: 0.15s;
    opacity: 0.9;
}