.contentContainer {
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 36px;
}

.contentContainer section {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.pageHeadingTitleWrapper .pageHeadingTitle{
    font-family: Newsreader, sans-serif;
    font-size: 54px;
    padding-right: 16px;
}

.pageHeadingTitleWrapper span {
    font-size: 24px;
}

.contentContainer hr {
    width: 100%;
    border: 0;
    height: 2px;
    background: #E6E6E6;
}

.contentContainer main {
    padding-top: 20px;
}

.cartContainer {
    display: flex;
    justify-content: space-between;
}

.cartProductsWrapper {
    display: flex;
    width: 100%;
    min-width: 400px;
    flex-direction: column;
    margin-right: 20px;
}

.emptyMessageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.emptyMessageContainer img {
    width: 100px;
    height: 100px;
}

.emptyMessageContainer span {
    margin: 12px;
}

