.contentContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 42px;
}

.pageHeading {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 2px solid var(--secondary-color, #E6E6E6);
}   

.headingTitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headingTitleContainer span {
    width: max-content;
}

.mainTitle {
    display: flex;
    font-family: Newsreader, sans-serif;
    font-size: 54px;
}

.additionalTitle {
    font-size: 24px;
    margin-left: 16px;
}

.contentContainer main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 28px;
    position: relative;
}

.cartProductsContainer {
    display: flex;
    width: 70%;
    min-width: 200px;
    margin-bottom: 40px;
}

.orderSummaryWrapper {
    display: block;
    width: 30%;
    height: 100%;
    margin-left: 60px;
    position: sticky;
    right: 0;
}

.cartProductsWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.cartProductsWrapper > div + div {
    margin-top: 16px;
}

.emptyMessageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.emptyMessageContainer img {
    width: 100px;
    height: 100px;
}

.emptyMessageContainer span {
    margin: 12px;
}

@media (min-width: 716px) {
    .orderSummaryWrapper {
        top: calc(
            var(--main-header-margin-top) 
            + 2 * var(--main-header-padding-top-bot) 
            + var(--main-header-height)
        );
    }
}

@media (min-width: 0) and (max-width: 716px) {
    .cartProductsContainer {
        display: flex;
        width: 100%;
        min-width: 200px;
        margin-bottom: 0;
    }

    .contentContainer main {
        flex-direction: column;
    }

    .orderSummaryWrapper {
        width: 100%;
        top: auto;
        left: 0;
        bottom: 0;
        margin: 20px 0 0 0;
        padding: 0;
    }
}