.contentContainer {
    margin-top: 128px;
}

.contentContainer main {
    display: flex;
    flex-direction: column;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleContainer button {
    margin-top: 26px;
}

.titleContainer button {
    padding: 14px 16px;
}

.titleText { 
    font-family: Newsreader, sans-serif;
    font-size: 5.4rem;
    font-weight: 420;
    text-align: center;
    text-wrap: pretty
}

.imagesContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1.4rem;
    margin-top: 80px;
}

.imagesContainer img {
    width: 100%;
    filter: drop-shadow(0 0 0.15rem rgba(0, 0, 0, 0.30));
    border-radius: 2px;
}

.leftImageWrapper {
    width: 45%;
}

.rightImageWrapper {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    width: 55%;
    align-self: center;
    margin-left: 40px;
}

.leftImage {
    height: 54vw;
    max-height: 640px;
}

.rightImage {
    height: 35vw;
    max-height: 360px;
}

.footerContainer {
    display: flex;
    font-size: 1.6em;
    margin-top: 80px;
}

.footerLeftTitle {
    font-weight: 400;
    width: fit-content;
    text-wrap: balance;
}

.footerRightText {
    width: fit-content;
}

@media (min-width: 0px) and (max-width: 860px) {
    .contentContainer {
        margin-top: 10vw;
    }

    .titleText { 
        font-size: 6vw;
    }

    .titleContainer button {
        font-size: 3vw;
        margin-top: 3vw;
        padding: 10px 12px;
    }

    .imagesContainer {
        font-size: 2vw;
        margin-top: 12vw;
    }

    .rightImageWrapper {
        margin-left: 16px;
    }

    .footerContainer {
        font-size: 2.4vw;
        margin-top: 12vw;
    }
}