.contentContainer {
    padding-top: 128px;
}

.contentContainer main {
    display: flex;
    flex-direction: column;
}

.contentContainer section {
    margin: 0;
    padding: 0;
    align-self: center;
}

.titleWrapper {
    align-self: center;
}

.titleWrapper div {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 900px;
}

.titleText { 
    font-family: Newsreader, sans-serif;
    font-size: 54px;
    font-weight: 420;
    padding-bottom: 26px;
    text-align: center;
}

.titleWrapper button{
    padding: 14px 16px;
}

.titleWrapper button a {
    text-decoration: none;
    color: white;
}

.imagesWrapper {
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
}

.leftImageWrapper {
    padding-right: 40px;
}

.rightImageWrapper {
    font-size: 14px;
    font-weight: 300;
    align-self: center;
}

.leftImage {
    border-radius: 2px;
    height: 640px;
    width: 480px;
    filter: drop-shadow(0 0 0.15rem rgba(0, 0, 0, 0.30));
}

.rightImage {
    border-radius: 2px;
    height: 360px;
    width: 620px;
    filter: drop-shadow(0 0 0.15rem rgba(0, 0, 0, 0.30));
}

.footerContainer {
    display: flex;
}

.footerLeftTitle {
    font-weight: 400;
    margin-right: 40px;
    width: 200px;
}

.footerRightText {
    width: 700px;
}

.footerContainer p {
    padding-bottom: 6px;
}