.contentContainer {
    width: 100%;
    margin-top: 128px;
}

.contentContainer main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contentContainer section {
    margin: 0;
    padding: 0;
    align-self: center;
}

.titleWrapper {
    align-self: center;
}

.titleWrapper > div {
    display: flex;
    justify-content: center;
    align-self: center;
}

.titleText { 
    font-family: Newsreader, sans-serif;
    font-size: 54px;
    font-weight: 420;
    text-wrap: wrap;
    text-align: center;
    text-wrap:pretty
}

.titleWrapper button{
    margin-top: 26px;
    padding: 14px 16px;
}

.titleWrapper button a {
    text-decoration: none;
    color: white;
}

.imagesContainer {
    display: flex;
    width: 100%;
    margin-top: 80px;
}

.leftImageWrapper {
    width: 40%;
    
}

.rightImageWrapper {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 300;
    width: 60%;
    align-self: center;
    margin-left: 40px;
}

.leftImage {
    border-radius: 2px;
    height: 54vw;
    width: 100%;
    max-height: 640px;
    max-width: 480px;
    filter: drop-shadow(0 0 0.15rem rgba(0, 0, 0, 0.30));
}

.rightImage {
    border-radius: 2px;
    height: 35vw;
    width: 100%;
    max-height: 360px;
    filter: drop-shadow(0 0 0.15rem rgba(0, 0, 0, 0.30));
}

.footerContainer {
    display: flex;
    margin-top: 80px;
}

.footerLeftTitle {
    font-weight: 400;
    width: 100px;
}

.footerRightText {
    width: 90%;
    margin-left: 40px;
}

@media (min-width: 0px) and (max-width: 860px) {
    .contentContainer {
        margin-top: 86px;
    }

    .titleText { 
        font-size: 44px;
    }

    .rightImageWrapper {
        margin-left: 16px;
    }

    .footerContainer {
        font-size: 14px;
    }

    .footerRightText {
        margin-left: 10px;
    }
}


@media (min-width: 0px) and (max-width: 700px) {
    .contentContainer {
        margin-top: 26px;
    }

    .titleText { 
        font-size: 6.27vw;
    }

    .titleWrapper button{
        font-size: 3vw;
        margin-top: 12px;
        padding: 10px 12px;
    }

    .imagesContainer {
        margin-top: 36px;
    }

    .rightImageWrapper {
        font-size: 10px;
        font-weight: 300;
        width: 60%;
        align-self: center;
    }

    .footerContainer {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        margin-top: 36px;
        align-items: center;
    }

    .footerRightText {
        margin-left: 0;
    }
}

@media (min-width: 0px) and (max-width: 430px) {
    .titleText { 
        font-size: 6.09vw;
    }
}