.mobileNavbar {
    display: none;
}

@media (min-width: 0px) and (max-width: 820px) { 
    .mobileNavbar {
        display: flex;
    }
}

.burgerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    user-select: none;
    position: relative;
    transition: opacity 0.15s;
}

.burgerButton:active {
    opacity: 1;
    transition: opacity 0.15s;
}

.BurgerIcon {
    object-fit: contain;
    width: 45px;
    height: 45px;
    opacity: 0.65;
}

.cartQuantityWrapper, .quantityNearLink {
    display: flex;
    font-size: 1.4rem;
    font-weight: 400;
    width: 28px;
    height: 28px;
    color: var(--main-text-color-black, #000000);
    background-color: var(--secondary-color-lighter, #d7d7d7);
    border: 1px solid var(--secondary-color, #E6E6E6);;
    border-radius: 80px;
    align-items: center;
    justify-content: center;
    position: absolute;
    user-select: none;
    z-index: 1;
    top: -8px;
    right: -8px;
}

.quantityNearLink {
    font-size: 1.4rem;
    padding: 10px;
    top: 8%;
    right: 28%;
}

.navbarModalWindow {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.navbarLinksContainer {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    animation: pullIn 0.25s ease-in-out;
    margin: 0;
    padding-inline-start: 0;
    transition: transform 0.3s ease-in-out;
}

@keyframes pullIn {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

.linkWrapper, .linkWrapperCurrent{
    width: 100%;
    list-style-type: none;
    transition: opacity 0.1s;
}

.linkWrapper:active, .linkWrapperCurrent:active {
    opacity: 0.85;
    transition: opacity 0.1s;
}

.linkWrapper a, .linkWrapperCurrent a {
    display: flex;
    padding: 20px 26px;
    color: var(--main-text-color-green, #426B1F);
    position: relative;
    text-decoration: none;
    transition: background-color 0.1s, color 0.1s;
}

.linkWrapper a:hover, .linkWrapperCurrent a:hover {
    background-color: var(--main-text-color-green, #426B1F);
    color: white;
    transition: background-color 0.05s, color 0.05s;
}

.linkWrapperCurrent {
    background-color: #dbf5c4eb;
}