.paginationText {
  width: 2rem;
  opacity: 0.6;
}

.paginationButton {
  color: var(--primary-color, #426B1F);
  height: 34px;
  width: 36px;
  font-size: 18px;
  font-weight: 500;
  margin-left: 12px;
  border: 1px solid var(--third-color, #6D6D6D);
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.15s ease, background-color 0.15s ease;
}

.paginationButton.active,
.paginationButton:hover {
  color: var(--main-text-color-white, #ffffff);
  background-color: var(--primary-color, #426B1F);
  transition: color 0.2s ease, background-color 0.2s ease;
}

.paginationButton.disabled {
  background-color: transparent !important;
  cursor: not-allowed;
  opacity: 0.5;
}

.paginationButton.disabled:hover {
  background-color: transparent;
  color: var(--primary-color, #426B1F);
}
