.paginationText {
  width: 2rem;
  opacity: 0.6;
}

.paginationItem {
  height: 2rem;
  width: 2rem;
  color: var(--primary-color, #426B1F);
  font-weight: 450;
  margin-left: 12px;
  padding: 0 6px;
  border: 1px solid var(--third-color, #6D6D6D);
  background-color: transparent;
  cursor: pointer;
  transition: ease 0.25s;
}

.paginationItem.active,
.paginationItem:hover {
  background-color: var(--primary-color, #426B1F);
  color: var(--main-text-color-white, #ffffff);
  transition: ease 0.1s;
}

.paginationItem.disabled {
  background-color: transparent !important;
  cursor: not-allowed;
  opacity: 0.5;
}

.paginationItem.disabled:hover {
  background-color: transparent;
  color: var(--primary-color, #426B1F);
}
