@font-face {
    font-family: 'Newsreader';
    src: url(./fonts/Newsreader/Newsreader-VariableFont_opsz\,wght.ttf);
    font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
}

@font-face {
    font-family: 'Newsreader';
    src: url(./fonts/Newsreader/Newsreader-Italic-VariableFont_opsz\,wght.ttf);
    font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
    font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
}

:root {
    --primary-color: #426B1F;
    --primary-color-lighter: #436b1feb;
    --secondary-color: #E6E6E6;
    --secondary-color-lighter: #ffffff;
    --third-color: #6D6D6D;
    --background-color: #FAFAF5;

    --hover-focus-outline: 1.5px solid var(--primary-color-lighter);
    --warning-color: #fa9a14;
    --attention-color: #E32636;
    --main-input-border: 1.5px solid var(--secondary-color, #E6E6E6);
    --main-text-color-black: #000000;
    --main-text-color-white: #ffffff;
    --main-text-color-white-darker: #CFD9E0;
    --main-text-color-green: #426B1F;

    --main-header-margin-top: 16px;
    --main-header-padding-top-bot: 18px;
    --main-header-height: 45.438px;
}

* {
    box-sizing: border-box;
    line-height: 1.42;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    margin: 0;
}

body > div {
    overscroll-behavior: none;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.mainContainer {
    font-family: Inter, sans-serif;
    max-width: 1170px;
    min-height: 100vh;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}