.cartSummaryWrapper {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    top: 10%;
    padding: 16px;
    border: 2px solid #E6E6E6;
    background-color: #FAFAF5;
    border-radius: 10px;
}

.orderSummaryHeader {
    font-weight: 600;
}

.orderDetailsWrapper {
    display: flex;
    font-size: 16px;
    flex-direction: column;
    margin-top: 20px;
}

.orderDetailsWrapper div {
    display: flex;
    flex-direction: column;
}

.orderDetailsWrapper div > span {
    margin-top: 12px;
}

.orderTotal {
    font-weight: 600;
}

.cartSummaryWrapper button {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    text-wrap: pretty;
}

@media (min-width: 0) and (max-width: 716px) {
    .orderDetailsWrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .orderDetailsWrapper div {
        display: flex;
        flex-direction: column;
    }
}