.navbarHeader {
    position: sticky;
    z-index: 100;
    background-color: var(--secondary-color-lighter, #ffffff);
    max-width: 1190px;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--main-header-padding-top-bot, 18px) 0;
    margin-top: var(--main-header-margin-top, 16px);
    transition: transform 0.3s ease-in-out;
}

.companyTitle a {
    font-family: Newsreader, sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: var(--main-text-color-green, #426B1F);
    letter-spacing: -0.5px;
    text-decoration: none;
    margin-right: 12px;
}


