.pageHeading {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 2px solid var(--secondary-color, #E6E6E6);
}

.headingTitleContainer {
    display: flex;
    justify-content: center;
}

.firstTitle {
    display: flex;
    justify-content: center;
    font-family: Newsreader, sans-serif;
    font-size: 54px;
}

.sortOptionsWrapper ul {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}