.productContainer{
    display: flex;
    height: 140px;
    align-items: center;
    background-color: #FAFAF5;
    border: 2px solid #E6E6E6;
    margin-bottom: 20px;
    border-radius: 12px;
}

.imageWrapper {
    display: flex;
    height: 100%;
}

.imageWrapper img {
    object-fit: cover;
    height: 100%;
    width: 140px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.productInfoWrapper {
    font-size: 20px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    padding: 16px;
    justify-content: space-between;
}

.productDetailsWrapper {
    display: flex;
    flex-direction: column;
}

.productName {
    font-weight: 600;
    padding-bottom: 2px;
}

.productPrice {
    color: #426B1F;;
    font-weight: 600;
    padding-bottom: 10px;
}

.productQuantityWrapper {
    font-size: 16px;
    max-width: 100px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.productQuantityInput {
    font-weight: 600;
    max-width: 100px;
    border: 1.5px solid #E6E6E6;
    border-radius: 16px;
    padding: 8px 30px 8px 12px;
    transition: 0.25s;
    z-index: 10;
}

.productQuantityInput:hover, .productQuantityInput:focus {
    border: 1.5px solid #436b1feb;
    transition: 0.25s;
}

.editQuantityIcon {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 8px;
    cursor: pointer;
    z-index: 10;
}

.productRigthInfoWrapper {
    display: flex;
}

.productPriceWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productTotalPrice {
    display: flex;
    font-weight: 600;
}

.deleteProductIcon { 
    display: flex;
    width: 30px;
    height: 30px;
    align-self: last baseline;
    cursor: pointer;
}

