.contentContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 42px;
}

.pageHeading {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 2px solid var(--secondary-color, #E6E6E6);
}   

.headingTitleContainer {
    display: flex;
}

.headingTitleContainer span {
    width: max-content;
}

.mainTitle {
    display: flex;
    font-family: Newsreader, sans-serif;
    font-size: 5.4rem;
}

.additionalTitle {
    font-size: 1.4rem;
    margin-left: 16px;
}

.productSortWrapper {
    width: fit-content;
    text-wrap: nowrap;
}

.contentContainer main {
    width: 100%;
    margin: 28px 0;
}

@media (max-width: 1160px) {
    .headingTitleContainer {
        flex-direction: column;
    }

    .additionalTitle {
        margin-left: 0;
    }
}

@media (min-width: 1160px) {
    .headingTitleContainer {
        align-items: center;
    }
}

@media (min-width: 0px) and (max-width: 750px) {
    .productSortWrapper {
        display: none;
    }
}