.contentWrapper {
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 36px;
}

.pageHeadingWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pageHeadingTitle {
    display: flex;
    justify-content: center;
}

.pageHeadingTitle .produceTitle{
    display: flex;
    justify-content: center;
    font-family: Newsreader, sans-serif;
    font-size: 54px;
    padding-right: 16px;
}

.productSortWrapper ul {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.productSortWrapper ul button {
    font-size: 12px;
    font-weight: 600;
    border-radius: 24px;
    margin-left: 12px;
}

hr {
    width: 100%;
    border: 0;
    height: 2px;
    background: #E6E6E6;
}

.productsWrapper {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 25px;
    column-gap: 25px;
    padding: 20px;
}


@media (max-width: 1130px) {
    .pageHeadingTitle {
        flex-direction: column;
    }
}

@media (min-width: 1130px) {
    .pageHeadingTitle {
        align-items: center;
    }
}

@media (min-width: 1024px) and (max-width: 1180px) {
    .productsWrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 880px) and (max-width: 1024px) {
    .productsWrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 750px) and (max-width: 880px) {
    .productsWrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 0px) and (max-width: 750px) {
    .productsWrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .productSortWrapper {
        display: none;
    }
}


@media (max-width: 1050px) {
    .pageHeadingTitle .produceTitle{
        display: flex;
        flex-direction: column;
    }
}